#Cron jobs are handled through cPanel directly.


# Disable mailing of the CRON output
#MAILTO="newpaltzhvz@gmail.com"

#  m 	h  		dom 	mon 	dow   	 command
#  0    *       *       *       *        php /home/spripqqq/public_html/nphvz.com/cron/update_footer_image.php
#  */5  *       *       *       *        php /home/spripqqq/public_html/nphvz.com/cron/update_wall_posts.php
#  *    *       *       *       *        php /home/spripqqq/public_html/nphvz.com/cron/game_logic.php

#0      *       *       *       *        php /home/spripqqq/public_html/nphvz.com/prod/cron/update_footer_image.php
#*/5    *       *       *       *        php /home/spripqqq/public_html/nphvz.com/prod/cron/update_wall_posts.php
#*      *       *       *       *        php /home/spripqqq/public_html/nphvz.com/prod/cron/game_logic.php